html, body {
    background-color: black;
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
}

#picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    width: 90%;
    margin: 2.5% auto 2.5% auto;
    padding: 2%;
    border-radius: 10px;
}

#teams {
  width: 100%;
  text-align: center;
  background-color: #1f1f1f;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 1.25rem;
}

#roster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    width: 95%;
    margin: 2.5% auto 2.5% auto;
    padding: 2% 0;
    border-radius: 10px;
}

.player {
  width: 92.5%;
  padding: 2%;
/*   padding-left: 0; */
  margin: 1%;
  text-align: center;
  background-color: #1f1f1f;
  border: none;
  color: white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 12% 48% 20% 20%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "pos name overall money"
    "pos arch age years";
}

.name {
  grid-area: name;
  font-family: 'Montseratt', sans-serif;
  font-size: 1.03rem;
  font-weight: 400;
  text-align: left;
  color: white;
  margin: 1%;
  margin-left: 6%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.arch {
  grid-area: arch;
  font-family: 'Montseratt', sans-serif;
  font-size: 0.96rem;
  font-weight: 400;
  text-align: left;
  color: #adadad;
  margin: 1%;
  margin-left: 6%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.overall {
  grid-area: overall;
  font-family: 'Montseratt', sans-serif;
  font-size: 1.03rem;
  font-weight: 400;
  text-align: center;
  color: white;
  margin: 1%;
}

.age {
  grid-area: age;
  font-family: 'Montseratt', sans-serif;
  font-size: 0.98rem;
  font-weight: 400;
  text-align: center;
  color: #adadad;
  margin: 1%;
}

.money {
  grid-area: money;
  font-family: 'Montseratt', sans-serif;
  font-size: 1.03rem;
  font-weight: 400;
  text-align: center;
  color: white;
  margin: 1%;
}

.years {
  grid-area: years;
  font-family: 'Montseratt', sans-serif;
  font-size: 0.98rem;
  font-weight: 400;
  text-align: center;
  color: #adadad;
  margin: 1%;
}

.pos {
  grid-area: pos;
  font-family: 'Montseratt', sans-serif;
  font-size: 1.03rem;
  font-weight: 400;
  text-align: center;
  color: white;
  margin: auto auto;
  height: 0;
  padding: 50% 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(116, 116, 116, 0.35);
  border-radius: 50%;
/*   border-right: 1px solid #6e6e6e; */
}

#spacer {
    background-color: black;
    height: 10%;
}

#navbackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 0;
  height: 4.5rem;
}

#nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #151515;
    display: flex;
    flex-direction: row;
    height: 4.5rem;
    max-width: 500px;
    z-index: 1;
}

.navbutton {
    flex-basis: 20%;
    flex-grow: 0;
    background-color: #151515;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    font-family: 'Montseratt', sans-serif;
    font-weight: 400;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbutton:hover {
    background-color: #484848;
}

.navicon {
    font-size: 1.5rem;
    flex-basis: 50%;
    margin-bottom: 4%;
}

#rosters {
    background-color: #555555;
}